[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
django-crispy-forms = "==1.7.2"
pytz = "==2018.5"
Django = "==2.2.20"
Pillow = "==8.1.1"

[requires]
python_version = "3.7"
